#footer-container {
    background-color: $thirdColor;
    height:366px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 10vw 0;

    .footer-row {
        min-width: 300px;
        width: 50%;
        h4{ margin-bottom: 20px; }
    }
    .footer-row:last-of-type {
        text-align: right;
        
        

        @include breakpoint('m'){
            text-align: left;
        }
    }
    
}