#footer-wrapper {
    background-color: $darkColor;
    margin:0px;

#footer-container {
    color: $secondaryColor;

    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px 10vw 0;
    margin-bottom:0;

    @include breakpoint('m'){

        grid-template-columns: 1fr ;
    }

    .footer-row {
        min-width: 200px;
        width: 33%;
        h4{ margin-bottom: 20px; }
    }
    .footer-row-left {
        padding-right:20px;
        min-width: 200px;
         color: $secondaryColor;
        @include breakpoint('m'){
            width:100%;
            padding-right:0;
        }
        h4 {
            color: $secondaryColor !important;
        }
    }
    .footer-row-mid {
        text-align: center;
        min-width:200px;
        .footer-partner-container {
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;

            width: 100%;

            .footer-partner {
                margin: 20px 0;
                width: 33%;
                height:200px;
                min-width:120px;
                img {
                    max-height:100%;
                    max-width:100%;
                }
            }
            h4 {
                color: $secondaryColor !important;
            }
        }

        @include breakpoint('m'){
            text-align: left;
            width:100%;
            padding-left:0;
        }
        h4 {
            color: $secondaryColor !important;
        }
    }
    .footer-row-right {
        padding-left:20px;
        text-align: right;
        min-width: 200px;

        @include breakpoint('m'){
            width:100%;
            text-align: left;
            padding-left:0;
        }

        h4 {
            color: $secondaryColor !important;
        }
    }



    }

    .footer-menu-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:100%;
        justify-content: space-between;

        div {
            column-width: 1;
        }
        a{
            display:block;
        p {
            color:$secondaryColor;
            margin-bottom:8px;
            width: auto;

            &:hover {
                color:white;
            }
        }
        }


        @include breakpoint('m'){

            grid-template-columns: 1fr ;
        }


    }


    .footer-copyright{
        margin: 0;
        padding: 20px 10vw 0;


        .footer-copyright-container{
            color:white;
             margin: 0;
            border-top: 1px solid white;
            display:flex;
            justify-content: space-between;
            padding: 10px 0;

            .footer-newsletter-button {
                background-color: $secondaryColor;
                border-radius: 20px;
                padding: 2px 15px;
                font-family: "mediasans-bold";
                transition: all 200ms ease-in-out;

                &:hover{
                    transform: scale(1.02);
                }

            }

            .footer-sm-icons {
                display:flex;

            }
        }
    }
}
