#footer-container {
    background-color: $darkColor;
    color: $primaryColor;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 10vw 0;
    margin-bottom:0;

    .footer-row {
        min-width: 200px;
        width: 33%;
        h4{ margin-bottom: 20px; }
    }
    .footer-row-left {
        padding-right:20px;
        min-width: 200px;
         color: $primaryColor;
        @include breakpoint('m'){
            width:100%;
            padding-right:0;
        }
        h4 {
            color: $primaryColor !important;
        }
    }
    .footer-row-mid {
        text-align: center;
        min-width:200px;
        .footer-partner-container {
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;

            width: 100%;

            .footer-partner {
                margin: 20px 0;
                width: 33%;
                height:200px;
                min-width:120px;
                img {
                    max-height:100%;
                    max-width:100%;
                }
            }
            h4 {
                color: $primaryColor !important;
            }
        }

        @include breakpoint('m'){
            text-align: left;
            width:100%;
            padding-left:0;
        }
        h4 {
            color: $primaryColor !important;
        }
    }
    .footer-row-right {
        padding-left:20px;
        text-align: right;
        min-width: 200px;

        @include breakpoint('m'){
            width:100%;
            text-align: left;
            padding-left:0;
        }

        h4 {
            color: $primaryColor !important;
        }
    }

}
