
:root{
    font-size: 1vw;
    color:#3C1438 ;
}


h1 {
    color:#3C1438;
    font-size: clamp( 46px, 5rem, 64px);
}


h2 {
 
    font-size: clamp( 32px, 3rem, 46px);
}

h3 {
    font-size: clamp( 24px, 2.4rem, 32px);
}

h1, h2, h3 { font-family: 'mediasans-bold';color:#3C1438; }

h4 {
    color:#3C1438;
    font-size: clamp( 18px, 1.8rem, 22px);
    line-height: clamp( 28px, 1.8rem, 34px);
    font-weight: bold;
}

h5 {
    color:#3C1438;
    font-size: clamp( 16px, 1.5rem, 18px);
    line-height: clamp( 26px, 1.8rem, 32px);
    font-weight: bold;
}

div, p, a {

    color:#3C1438;
    font-size: clamp( 16px, 1.5rem, 18px) !important;
    line-height: clamp( 26px, 1.8rem, 32px);
    margin-bottom: 20px;
}

ol {
    list-style-position:outside; padding-left:5%; 
    li {
        margin-bottom: 2rem;
    }
}