@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'responsive.scss';

@import 'bootstrap.scss';

@import 'inc/lightbox.scss';

html, body {
  background-color: #FFF;
  font-family: "GTAlpina", Fallback, sans-serif;
}

body {
 
  font-size: .9rem;
  @include atSmall {
    padding: 0px;
    font-size: 1.1rem;
  }
  @include atMedium {
    padding: 0px;
    font-size: 1.2rem;
  }
}

a:link, a:visited {
  color: $primaryColor;
  text-decoration: unset !important;
  
}

a:hover {
  color: $secondaryColor;
}


.has-primary-color-color {
  color:#942F6D;
}

.has-secondary-color-color {
  color:#7C70B1;
}

.has-third-color-color {
  color:#C3B1D7;
}

.has-dark-color-color {
  color:#3C1438;
}

@import 'templates/events.scss';
@import 'templates/default.scss';

@import 'components/navigation.scss';
@import 'components/footer.scss';

