$primaryColor: #C44E97;
$secondaryColor: #D382B3;
$thirdColor: #942F6D;


$thirdColorLight: lighten($thirdColor, 10%);

$darkColor: #3C1438;

.has-primary-color-color {
    color:$primaryColor;
}

.has-secondary-color-color {
    color:$secondaryColor;
}

.has-third-color-color {
    color:$thirdColor;
}

.has-dark-color-color {
    color:$darkColor;
}

.has-primary-color-background-color {
    background-color:$primaryColor;
}

.has-secondary-color-background-color {
    background-color:$secondaryColor;
}

.has-third-color-background-color {
    background-color:$thirdColor;
}

.has-dark-color-background-color {
    background-color:$darkColor;
}



$dropshadow:1px 1px 26px -2px lighten( $thirdColor, 30% );
:root { --dropshadow: $dropshadow; }

@mixin dropshadow {

    box-shadow: $dropshadow;
    -webkit-box-shadow: $dropshadow;
    -moz-box-shadow: $dropshadow;
}

.dropshadow {
    @include dropshadow();
}

@mixin primarybtn {
    border-radius:10px;
    color:white;
    padding:5px 10px;
    background-color: $primaryColor;
    border:0;
    &:hover {
        background-color:$secondaryColor;
        cursor: pointer;
    }
}

button {
    @include primarybtn();
}

@mixin hideScrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.hideScrollbar {
    @include hideScrollbar
}


@mixin scrollbars(
  $size: 8px,
  $foreground-color: $thirdColor,
  $background-color: none
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

.hyphens {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
