/* SINGLE PAGE */

.event-body {
    background-color:rgba($secondaryColor, 0.08);
    min-height:80vh;
    padding: 5vh 5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .event-container {
        min-height: 400px;
        width: clamp(600px, 50%, 95vw);
        margin-bottom: 20px;
        background-color: white;
        //margin: 5vh;

        .event-image-header {
            width: 100%;
            height: 400px;

            img{
                width:100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .event-content {
            padding: 5vh 5vw;

            h2 { margin: 20px 0;
                color: $primaryColor;
            }
        }

        @include breakpoint( 'm' ){
            min-width:95vw;
        }
    }

    .event-sidebar {
        background-color: white;
        margin-left:2%;
        width: clamp(200px, 25%, 95vw);

        padding: 20px;

        @include breakpoint( 'm' ){
            min-width:95vw;
            margin-left:0;
        }

       .event-fact-row {
            display: flex;
            flex-wrap: wrap;

            .event-fact-column {
                width:50%;
            }
        }
    }
}

/*Archive Page*/

.event-page-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 5vw;

    @include breakpoint('m'){
        padding: 0;
    }
    @include breakpoint( 's' ){
        width: 100vw;

    }

    .event-content {
        width: 88%;
    }

    .event-card-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

}

.eventcard-title{
    margin-top:50px;
}

.eventcard-thumb {
    width: 100%;
    height:200px;


    .eventcard-image {
        height: 200px;
        width: 100%;
        border-radius:20px;
        overflow:hidden;
        img {
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.past-event {
    background-color:#f7edf3 !important;
}
